# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build
app/bin

# Ignore vscode specific project files
.vscode/
*.code-workspace

# Ignore Gradle wrapper files
gradle/
gradlew*
gradlew.bat

tmp/
*.jfr
app/jfr/